{% extends 'base.twig' %}

{% block content %}

    <section class="example-counter">
        {% include 'moodboard-counter.twig' %}
    </section>

    <section class="example-sharer">
        {% include 'moodboard-sharer.twig' %}
    </section>

    <section class="example-favourite-page">
        {% include 'moodboard.twig' %}
    </section>

{% endblock %}
