<a href="mailto:?subject={{ post.title }}&body=[jsMoodboardLink]" class="moodboard__sharer">Email</a>
<a href="https://www.facebook.com/sharer/sharer.php?u=[jsMoodboardLink]" class="moodboard__sharer">Facebook</a>
<a href="https://twitter.com/intent/tweet?text={{ post.title }}&amp;url=[jsMoodboardLink]&amp;via=colbourns" class="moodboard__sharer">Twitter</a>
<a href="https://plus.google.com/share?url=[jsMoodboardLink]" class="moodboard__sharer">Google+</a>
