.moodboard__item {
    position: relative;
    width: 200px;
    height: 200px;
    opacity: 1;
    transition: all ease-in-out .3s;
}

.moodboard--not-inspired button {
    background-image: url('pin.svg');
}

.moodboard--is-inspired button {
    background-image: url('unpin.svg');
}

.moodboard--removing {
    opacity: .3;
}

.moodboard--removed {
    opacity: 0;
}

.moodboard img {
    display: block;
    width: 100%;
}

.moodboard button {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
}
