<div class="moodboard">

    {% for post in posts %}

        {% set post = TimberPost(post) %}

        <div class="moodboard__item" data-post="{{ post.id }}">

            <img src="{{ post.thumbnail.src|resize(200, 200, 'center') }}">

            <button></button>

        </div>

    {% endfor %}

</div>
